<div class="modal fade" id="js-add-to-group-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add to Group</h4>
        <div class="modal-body">
          <div class='message-container alert notice'></div>
          <%= form_tag '/groups/add_references', id: 'addToGroup', remote: true do %>
            <%= hidden_field_tag 'reference_type', group_type %>
            <div class="form-group">
              <%= select_tag 'group_id', options_for_select(groups.map { |group| [ group.name, group.id ] }), include_blank: 'Select Group', class: 'group_id' %>
            </div>
            <div class="form-group">
              <%= submit_tag 'Add to Group', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- /modal-content-->
  </div><!-- /modal-dialogue-->
</div><!-- /modal-->